* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

h1 {
    text-align: center;
    margin: 20px;
}


.navbar {
    position: relative;
    width: 100%;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.700);
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 5;

}

.navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
}

.navbar a:hover {
    background-color: rgba(110, 110, 110, 0.335);
}

.slideshow {
    position: relative;
    width: 100%;
    height: 93vh;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.mySlides {
    width: 100%;
}